<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.dao.ChinaCityMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.entity.ChinaCity" >
    <id column="cid" property="cid" jdbcType="BIGINT" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="pfl" property="pfl" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, cname, pfl, pid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from china_city
    where cid = #{cid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from china_city
    where cid = #{cid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.entity.ChinaCity" >
    insert into china_city (cid, cname, pfl, 
      pid)
    values (#{cid,jdbcType=BIGINT}, #{cname,jdbcType=VARCHAR}, #{pfl,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.entity.ChinaCity" >
    insert into china_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="pfl != null" >
        pfl,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="pfl != null" >
        #{pfl,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.entity.ChinaCity" >
    update china_city
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="pfl != null" >
        pfl = #{pfl,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.entity.ChinaCity" >
    update china_city
    set cname = #{cname,jdbcType=VARCHAR},
      pfl = #{pfl,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=BIGINT}
  </update>
</mapper>