<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.dao.TbMessageMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.entity.TbMessage" >
    <id column="tm_id" property="tmId" jdbcType="BIGINT" />
    <result column="tm_member_id" property="tmMemberId" jdbcType="BIGINT" />
    <result column="tm_title" property="tmTitle" jdbcType="VARCHAR" />
    <result column="tm_content" property="tmContent" jdbcType="VARCHAR" />
    <result column="tm_add_date" property="tmAddDate" jdbcType="TIMESTAMP" />
    <result column="tm_status" property="tmStatus" jdbcType="INTEGER" />
    <result column="tm_add_person" property="tmAddPerson" jdbcType="BIGINT" />
    <result column="tm_number" property="tmNumber" jdbcType="VARCHAR" />
    <result column="tm_if_send_sms" property="tmIfSendSms" jdbcType="INTEGER" />
    <result column="tm_type" property="tmType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tm_id, tm_member_id, tm_title, tm_content, tm_add_date, tm_status, tm_add_person, 
    tm_number, tm_if_send_sms, tm_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_message
    where tm_id = #{tmId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_message
    where tm_id = #{tmId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.entity.TbMessage" >
    insert into tb_message (tm_id, tm_member_id, tm_title, 
      tm_content, tm_add_date, tm_status, 
      tm_add_person, tm_number, tm_if_send_sms, 
      tm_type)
    values (#{tmId,jdbcType=BIGINT}, #{tmMemberId,jdbcType=BIGINT}, #{tmTitle,jdbcType=VARCHAR}, 
      #{tmContent,jdbcType=VARCHAR}, #{tmAddDate,jdbcType=TIMESTAMP}, #{tmStatus,jdbcType=INTEGER}, 
      #{tmAddPerson,jdbcType=BIGINT}, #{tmNumber,jdbcType=VARCHAR}, #{tmIfSendSms,jdbcType=INTEGER}, 
      #{tmType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.entity.TbMessage" >
    insert into tb_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tmId != null" >
        tm_id,
      </if>
      <if test="tmMemberId != null" >
        tm_member_id,
      </if>
      <if test="tmTitle != null" >
        tm_title,
      </if>
      <if test="tmContent != null" >
        tm_content,
      </if>
      <if test="tmAddDate != null" >
        tm_add_date,
      </if>
      <if test="tmStatus != null" >
        tm_status,
      </if>
      <if test="tmAddPerson != null" >
        tm_add_person,
      </if>
      <if test="tmNumber != null" >
        tm_number,
      </if>
      <if test="tmIfSendSms != null" >
        tm_if_send_sms,
      </if>
      <if test="tmType != null" >
        tm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tmId != null" >
        #{tmId,jdbcType=BIGINT},
      </if>
      <if test="tmMemberId != null" >
        #{tmMemberId,jdbcType=BIGINT},
      </if>
      <if test="tmTitle != null" >
        #{tmTitle,jdbcType=VARCHAR},
      </if>
      <if test="tmContent != null" >
        #{tmContent,jdbcType=VARCHAR},
      </if>
      <if test="tmAddDate != null" >
        #{tmAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tmStatus != null" >
        #{tmStatus,jdbcType=INTEGER},
      </if>
      <if test="tmAddPerson != null" >
        #{tmAddPerson,jdbcType=BIGINT},
      </if>
      <if test="tmNumber != null" >
        #{tmNumber,jdbcType=VARCHAR},
      </if>
      <if test="tmIfSendSms != null" >
        #{tmIfSendSms,jdbcType=INTEGER},
      </if>
      <if test="tmType != null" >
        #{tmType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.entity.TbMessage" >
    update tb_message
    <set >
      <if test="tmMemberId != null" >
        tm_member_id = #{tmMemberId,jdbcType=BIGINT},
      </if>
      <if test="tmTitle != null" >
        tm_title = #{tmTitle,jdbcType=VARCHAR},
      </if>
      <if test="tmContent != null" >
        tm_content = #{tmContent,jdbcType=VARCHAR},
      </if>
      <if test="tmAddDate != null" >
        tm_add_date = #{tmAddDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tmStatus != null" >
        tm_status = #{tmStatus,jdbcType=INTEGER},
      </if>
      <if test="tmAddPerson != null" >
        tm_add_person = #{tmAddPerson,jdbcType=BIGINT},
      </if>
      <if test="tmNumber != null" >
        tm_number = #{tmNumber,jdbcType=VARCHAR},
      </if>
      <if test="tmIfSendSms != null" >
        tm_if_send_sms = #{tmIfSendSms,jdbcType=INTEGER},
      </if>
      <if test="tmType != null" >
        tm_type = #{tmType,jdbcType=INTEGER},
      </if>
    </set>
    where tm_id = #{tmId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.entity.TbMessage" >
    update tb_message
    set tm_member_id = #{tmMemberId,jdbcType=BIGINT},
      tm_title = #{tmTitle,jdbcType=VARCHAR},
      tm_content = #{tmContent,jdbcType=VARCHAR},
      tm_add_date = #{tmAddDate,jdbcType=TIMESTAMP},
      tm_status = #{tmStatus,jdbcType=INTEGER},
      tm_add_person = #{tmAddPerson,jdbcType=BIGINT},
      tm_number = #{tmNumber,jdbcType=VARCHAR},
      tm_if_send_sms = #{tmIfSendSms,jdbcType=INTEGER},
      tm_type = #{tmType,jdbcType=INTEGER}
    where tm_id = #{tmId,jdbcType=BIGINT}
  </update>
</mapper>